<template>
	<div id="home">
		<Header></Header>

		<main>
			<form id="search-container" @submit="search">
				<UiTextbox
					v-model="query"
					:placeholder="$t('views.home.duckduckdgo_search')"
					type="search"
					id="search-field"
				></UiTextbox>
				<UiButton
					id="search-button"
					icon="search"
					color="accent"
				></UiButton>
			</form>

			<AppsList></AppsList>
		</main>
	</div>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator"
import UiButton from "keen-ui/src/UiButton.vue"
import UiTextbox from "keen-ui/src/UiTextbox.vue"
import UiSnackbar from "keen-ui/src/UiSnackbar.vue"

import { apiClient } from "../apiClient"
import router from "../router"
import Header from "../components/Header.vue"
import AppsList from "../components/AppsList.vue"

import { IApp } from "../../../lib/models"

@Component({
	components: {
		UiTextbox,
		UiButton,
		Header,
		AppsList,
	},
})
export default class Home extends Vue {
	// Application list
	public apps: IApp[] = []

	// The query from the search field
	public query = ""

	// Error messages
	public loadAppErrorMessage = ""

	public search(event: Event) {
		// Prevent page reloading because it is a submit event
		event.preventDefault()
		window.open(`https://duck.com?q=${this.query}`, "_blank")
	}
}
</script>

<style lang="less" scoped>
#home {
	height: 100%;
	display: flex;
	flex-direction: column;

	#search-container {
		display: flex;
		margin-top: 150px;
		width: 500px;

		@media screen and (max-width: 600px) {
			margin-top: 50px;
			width: 90%;
		}

		#search-field {
			flex-grow: 1;
			background: #fff;
		}

		#search-button {
			height: 32px;
		}
	}

	main {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
}
</style>
