<template>
	<div id="settings" v-if="$store.state.user !== null">
		<Header></Header>

		<UiTabs
			:fullwidth="true"
			:raised="true"
			@tab-change="tabChange"
			backgroundColor="primary"
			textColor="white"
			textColorActive="white"
			indicatorColor="accent"
			id="settings-container"
			ref="controlTabs"
		>
			<UiTab
				id="me"
				:title="$t('views.settings.tab_names.my_profile')"
				:selected="$route.params.view == 'me'"
			>
				<ProfileEditor></ProfileEditor>
			</UiTab>
			<UiTab
				id="users"
				:title="$t('views.settings.tab_names.users')"
				v-if="$store.state.user.admin"
				:selected="$route.params.view == 'users'"
			>
				<UsersEditor></UsersEditor>
			</UiTab>
			<UiTab
				id="domains"
				:title="$t('views.settings.tab_names.domains_names')"
				v-if="$store.state.user.admin"
				:selected="$route.params.view == 'users'"
			>
				<DomainsEditor></DomainsEditor>
			</UiTab>
			<UiTab
				id="advanced"
				:title="$t('views.settings.tab_names.advanced')"
				v-if="
					$store.state.user.admin &&
						!$store.state.variables.FLAG_DISABLE_ADVANCED_SETTINGS
							.value
				"
				:selected="$route.params.view == 'advanced'"
			>
				<AdvancedSettingsEditor></AdvancedSettingsEditor>
			</UiTab>
		</UiTabs>

		<footer>
			<a href="https://gitlab.com/flap-box/flap" target="_blank">
				{{
					$t("views.settings.version", {
						version: $store.state.version,
					})
				}}
			</a>
		</footer>
	</div>
</template>

<script lang="ts">
import { Component, Vue, Ref } from "vue-property-decorator"
import UiTabs from "keen-ui/src/UiTabs.vue"
import UiTab from "keen-ui/src/UiTab.vue"

import { apiClient } from "../apiClient"
import router from "../router"

import Header from "../components/Header.vue"
import ProfileEditor from "../components/ProfileEditor.vue"
import DomainsEditor from "../components/DomainsEditor.vue"
import UsersEditor from "../components/UsersEditor.vue"
import AdvancedSettingsEditor from "../components/AdvancedSettingsEditor.vue"

@Component({
	components: {
		UiTabs,
		UiTab,
		ProfileEditor,
		DomainsEditor,
		UsersEditor,
		Header,
		AdvancedSettingsEditor,
	},
})
export default class Settings extends Vue {
	public tabChange(selectedTab: any) {
		router.push(`/settings/${selectedTab.$el.id}`)
	}
}
</script>

<style lang="less" scoped>
#settings {
	#settings-container {
		width: auto;
		min-width: 550px;
		margin: 100px 20%;

		@media screen and (max-width: 1000px) {
			margin: 15px;
		}
	}

	footer {
		text-align: center;
	}
}
</style>
