<template>
	<div id="setup" v-if="step !== null">
		<div id="step-indicators-container">
			<span class="step-indicator" :class="{ active: step >= 0 }">
				{{ $t("views.setup.steps_labels.welcome") }}
			</span>

			<UiIcon
				icon="radio_button_checked"
				class="step-indicator-icon"
				:class="{ active: step >= 1 }"
			></UiIcon>
			<span class="step-indicator" :class="{ active: step >= 1 }">
				{{ $t("views.setup.steps_labels.first_user") }}
			</span>

			<UiIcon
				icon="radio_button_checked"
				class="step-indicator-icon"
				:class="{ active: step >= 2 }"
			></UiIcon>
			<span class="step-indicator" :class="{ active: step >= 2 }">
				{{ $t("views.setup.steps_labels.domain_name_choice") }}
			</span>
		</div>

		<div class="setup-step" id="step-wait" v-if="step === -1">
			<h2>
				{{ $t("views.setup.wait_step.title") }}
				<br />
				<br />
				{{ $t("views.setup.wait_step.sub_title") }}
			</h2>
			<UiProgressCircular
				type="indeterminate"
				:size="64"
				:stroke="2"
			></UiProgressCircular>
		</div>

		<div
			class="setup-step"
			id="step-hello"
			v-if="step === 0 && showHelloScreen"
		>
			<h2>{{ $t("views.setup.hello_screen.title") }}</h2>
			<h2>{{ $t("views.setup.hello_screen.sub_title") }}</h2>
			<UiButton
				size="large"
				:raised="true"
				color="accent"
				@click="showHelloScreen = false"
				>{{ $t("views.setup.hello_screen.next") }}</UiButton
			>
		</div>

		<div
			class="setup-step"
			id="step-user"
			v-if="step === 0 && !showHelloScreen"
		>
			<h2>{{ $t("views.setup.first_step.title") }}</h2>
			<CreateUserForm
				@userCreated="goToDomainForm"
				:mustBeAdmin="true"
				:buttonLabel="$t('views.setup.first_step.next')"
				class="setup-form"
			></CreateUserForm>
		</div>

		<div
			class="setup-step"
			id="step-domain"
			v-if="step === 1 && !creationLoading"
		>
			<h2>{{ $t("views.setup.second_step.title") }}</h2>

			<UiAlert type="error" v-if="domainError" :dismissible="false">{{
				$t("views.setup.second_step.error")
			}}</UiAlert>

			<DomainNameForm
				@domainNameSent="goToDomainLoadingView"
				:email="user.email"
				:updatedDomain="domains[0]"
				:buttonLabel="$t('views.setup.second_step.next')"
				class="setup-form"
			></DomainNameForm>
		</div>

		<div
			class="setup-step"
			id="step-loading"
			v-if="step === 1 && creationLoading"
		>
			<h2>{{ $t("views.setup.loading_step.title") }}</h2>
			<h2>{{ $t("views.setup.loading_step.sub_title") }}</h2>
			<table class="domain-loader-container">
				<DomainComponent
					v-if="domains.length > 0"
					:domain="domains[0]"
					:primaryDomain="primaryDomain"
				></DomainComponent>
			</table>
		</div>

		<div class="setup-step" id="step-done" v-if="step === 2">
			<h2>{{ $t("views.setup.done_step.its_done") }}</h2>
			<h2>{{ $t("views.setup.done_step.click_on_next") }}</h2>
			<a :href="'https://' + domains[0].name">
				<UiButton size="large" :raised="true" color="accent">
					{{ $t("views.setup.done_step.next") }}
				</UiButton>
			</a>
		</div>

		<UiAlert
			class="error-message"
			v-if="errorMessage.length > 0"
			type="error"
			:dismissible="false"
			>{{ errorMessage }}</UiAlert
		>
	</div>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator"
import UiIcon from "keen-ui/src/UiIcon.vue"
import UiButton from "keen-ui/src/UiButton.vue"
import UiAlert from "keen-ui/src/UiAlert.vue"
import UiProgressCircular from "keen-ui/src/UiProgressCircular.vue"

import { apiClient } from "../apiClient"
import DomainComponent from "../components/DomainComponent.vue"
import CreateUserForm from "../components/CreateUserForm.vue"
import DomainNameForm from "../components/DomainNameForm.vue"
import { DomainNameInfo, DomainNameProviders, IUser } from "../models"
import { errorToString } from "../tools"

@Component({
	components: {
		UiIcon,
		UiButton,
		CreateUserForm,
		DomainNameForm,
		UiAlert,
		DomainComponent,
		UiProgressCircular,
	},
})
export default class Setup extends Vue {
	// UI vars
	public showHelloScreen = true

	// Data
	public step: number = -1
	public user?: IUser = {
		fullname: "",
		username: "",
		email: "",
		admin: false,
	}
	public domains: DomainNameInfo[] = []
	public primaryDomain: {
		loading: boolean
		domain?: DomainNameInfo
	} = { loading: true }

	// Interval to fetch /domains regularly
	public setupInterval: number

	// Error messages.
	public errorMessage = ""

	// Computed properties.
	public get creationLoading() {
		return (
			this.domains.length > 0 &&
			(this.domains[0].status === "WAITING" ||
				this.domains[0].status === "HANDLED")
		)
	}

	public get domainError() {
		return this.domains.length > 0 && this.domains[0].status === "ERROR"
	}

	// Life cycle methods.
	public async mounted() {
		await this.refreshSetupStatus()
		await this.refreshDomainData()
		await this.refreshUserData()
		// Start refreshData interval.
		this.setupInterval = window.setInterval(this.refreshSetupStatus, 5000)
	}

	public destroyed() {
		clearInterval(this.setupInterval)
	}

	// Private methods.
	private async refreshSetupStatus() {
		this.errorMessage = ""

		try {
			const response = await apiClient.get("/setup")
			this.step = response.data.progress
		} catch (error) {
			this.errorMessage = `${this.$t(
				"views.setup.errors.setup_fetching",
			)}: ${errorToString(error)}`
		}

		switch (this.step) {
			case 0:
				this.refreshUserData()
			case 1:
				this.refreshDomainData()
		}
	}

	private async refreshUserData() {
		this.errorMessage = ""

		try {
			const usersReponse = await apiClient.get("/users")
			this.user = usersReponse.data[0]
		} catch (error) {
			this.errorMessage = `${this.$t(
				"views.setup.errors.users_fetching",
			)}: ${errorToString(error)}`
		}
	}

	private async refreshDomainData() {
		this.errorMessage = ""

		try {
			const [domainsResponse, primaryResponse] = await Promise.all([
				apiClient.get("/domains"),
				apiClient.get("/domains/primary"),
			])

			this.domains = domainsResponse.data
			this.primaryDomain = primaryResponse.data
		} catch (error) {
			this.errorMessage = `${this.$t(
				"views.setup.errors.domains_fetching",
			)}: ${errorToString(error)}`
		}
	}

	// Public methods.
	public async goToDomainForm(user: IUser) {
		this.user = user
		await this.refreshUserData()
		await this.refreshSetupStatus()
	}

	public async goToDomainLoadingView(domain: DomainNameInfo) {
		this.domains[0] = domain
		await this.refreshDomainData()
	}
}
</script>

<style lang="less" scoped>
#setup {
	color: #2c3e50;

	#step-indicators-container {
		width: 60%;
		margin: 100px 20%;
		color: fade(#2c3e50, 30%);
		text-align: center;

		.step-indicator-icon {
			font-size: 10px;
			margin: 0 10px;
		}

		.active {
			color: #2c3e50;
		}
	}

	.setup-step {
		width: 60%;
		margin: 100px 20%;

		&#step-wait {
			display: flex;
			flex-direction: column;
			align-items: center;
		}

		&#step-hello {
			display: flex;
			flex-direction: column;
			align-items: center;
			text-align: center;

			button {
				margin-top: 100px;
				width: 25%;
			}
		}

		&#step-user {
			display: flex;
			flex-direction: column;
		}

		&#step-domain {
			display: flex;
			flex-direction: column;
		}

		&#step-loading {
			display: flex;
			flex-direction: column;

			.domain-loader-container {
				box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
				margin-top: 50px;
				width: 100%;
			}
		}

		&#step-done {
			text-align: center;

			button {
				margin-top: 100px;
				width: 25%;
			}
		}

		.setup-form {
			background: #fff;
			box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
			margin-top: 30px;
			padding: 15px;
		}
	}

	.error-message {
		width: 60%;
		margin-left: 20%;
	}
}
</style>
