// Keen UI css reset
*,
*::before,
*::after {
	box-sizing: border-box;
}

html {
	font-size: 100%;
	height: 100%;
	background: #f7f7f7;

	// Font
	font-family: "Avenir", Helvetica, Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	body {
		margin: 0;
		height: 100%;
		color: #2c3e50;

		#app {
			height: 100%;
		}
	}
}

// Fix Keen UI cursor style on buttons
button {
	cursor: pointer !important;
}

.ui-button--color-accent {
	color: #201d19 !important;
}

h2 {
	font-weight: normal;
	font-size: 30px;
	text-align: center;
}

// Google Material Icons
@font-face {
	font-family: "Material Icons";
	font-style: normal;
	font-weight: 400;
	src: url(https://fonts.gstatic.com/s/materialicons/v47/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2)
		format("woff2");
}

.material-icons {
	font-family: "Material Icons";
	font-weight: normal;
	font-style: normal;
	font-size: 24px;
	line-height: 1;
	letter-spacing: normal;
	text-transform: none;
	display: inline-block;
	white-space: nowrap;
	word-wrap: normal;
	direction: ltr;
	-moz-font-feature-settings: "liga";
	-moz-osx-font-smoothing: grayscale;
}

.flap-help-table {
	border-collapse: collapse;
	width: 100%;
}

.flap-help-table {
	border-collapse: collapse;
	width: 100%;
}

.flap-help-table td,
.flap-help-table th {
	border: 1px solid gray;
	padding: 5px;
}
