<template>
	<div id="app">
		<router-view />

		<UiAlert
			v-if="errorInitialasing.length > 0"
			type="error"
			@dismiss="errorInitialasing = ''"
			>{{ errorInitialasing }}</UiAlert
		>
	</div>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator"
import UiAlert from "keen-ui/src/UiAlert.vue"

import { errorToString } from "./tools"

@Component({
	components: { UiAlert },
})
export default class App extends Vue {
	public errorInitialasing = ""

	public mounted() {
		try {
			this.$store.dispatch("getVersion")
			this.$store.dispatch("getVariables")
			this.$store.dispatch("getUser")
		} catch (error) {
			// Display the error in the GUI.
			this.errorInitialasing = this.$t("components.app.errors.init", {
				error: errorToString(error),
			}) as string
		}
	}
}
</script>
