<template>
	<div id="advanced-settings-editor">
		<div class="block">
			<h3>
				{{ $t("components.advanced_settings_editor.flapctl.title") }}
			</h3>

			<p>{{ $t("components.advanced_settings_editor.flapctl.info") }}</p>

			<form id="variables-form" @submit.prevent>
				<div
					v-for="(variables, group) in variablesByGroup"
					:key="group"
				>
					<h4>{{ group }}</h4>

					<div
						v-for="variable in variables"
						:key="variable.name"
						class="variable-input"
					>
						<UiSwitch
							v-if="variable.type == 'boolean'"
							switchPosition="right"
							:name="variable.name"
							:label="variable.info"
							:value="variable.value"
							@change="
								(value, event) =>
									setVariables(variable.name, value)
							"
						></UiSwitch>
						<UiTextbox
							v-if="variable.type == 'string'"
							:name="variable.name"
							:label="variable.info"
							:value="variable.value"
							@input="value => setVariables(variable.name, value)"
						></UiTextbox>
					</div>
				</div>
			</form>
		</div>

		<div class="block">
			<h3>
				{{ $t("components.advanced_settings_editor.restart.title") }}
			</h3>
			<div class="reboot">
				<UiButton
					color="red"
					:loading="loadingRebooting.services"
					:disabled="loadingRebooting.host"
					@click="reboot('services')"
				>
					{{
						$t(
							"components.advanced_settings_editor.restart.buttons.reboot_services",
						)
					}}
				</UiButton>
				<UiButton
					color="red"
					:loading="loadingRebooting.host"
					:disabled="loadingRebooting.services"
					@click="reboot('host')"
				>
					{{
						$t(
							"components.advanced_settings_editor.restart.buttons.reboot_host",
						)
					}}
				</UiButton>
			</div>
			<UiAlert
				v-if="errorRebooting.length > 0"
				type="error"
				@dismiss="errorRebooting = ''"
				>{{ errorRebooting }}</UiAlert
			>
			<UiAlert
				v-if="loadingRebooting.services"
				type="success"
				:dismissible="false"
			>
				{{
					$t(
						"components.advanced_settings_editor.restart.alerts.success_rebooting_services",
					)
				}}
			</UiAlert>
			<UiAlert
				v-if="loadingRebooting.host"
				type="success"
				:dismissible="false"
			>
				{{
					$t(
						"components.advanced_settings_editor.restart.alerts.success_rebooting_host",
					)
				}}
			</UiAlert>
		</div>

		<div class="block">
			<h3>{{ $t("components.advanced_settings_editor.ssh.title") }}</h3>
			<form id="access-key-form">
				<UiTextbox
					name="authorization-key"
					type="text"
					:floatingLabel="true"
					:label="
						$t(
							'components.advanced_settings_editor.ssh.inputs.key.title',
						)
					"
					:help="
						$t(
							'components.advanced_settings_editor.ssh.inputs.key.help',
						)
					"
					v-model="accessKey"
					:maxlength="1000"
					:enforceMaxlength="true"
					:multiLine="true"
				></UiTextbox>
			</form>
		</div>

		<div
			class="block"
			v-if="$store.state.variables.ENABLE_MONITORING.value"
		>
			<h3>
				{{ $t("components.advanced_settings_editor.monitoring.title") }}
			</h3>
			{{
				$t(
					"components.advanced_settings_editor.monitoring.the_username_is",
				)
			}}
			<code>admin</code>.
			<br />
			<br />
			{{
				$t(
					"components.advanced_settings_editor.monitoring.the_password_is",
				)
			}}:
			<code>flapctl config show</code>
			.
			<br />
			<br />
			<a :href="monitoringURL" target="_blank">
				<UiButton color="accent" icon="launch">
					{{
						$t(
							"components.advanced_settings_editor.monitoring.go_to_monitoring",
						)
					}}
				</UiButton>
			</a>
		</div>
	</div>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator"
import UiButton from "keen-ui/src/UiButton.vue"
import UiTextbox from "keen-ui/src/UiTextbox.vue"
import UiSwitch from "keen-ui/src/UiSwitch.vue"
import UiAlert from "keen-ui/src/UiAlert.vue"

import { apiClient } from "../apiClient"
import { Variable } from "../models"
import { errorToString, sleep } from "../tools"

@Component({
	components: { UiTextbox, UiSwitch, UiButton, UiAlert },
})
export default class AdvancedSettingsEditor extends Vue {
	// Data
	get accessKey() {
		return this.$store.state.accessKey
	}
	set accessKey(value) {
		if (this.loadingAccessKey) {
			return
		}

		this.loadingAccessKey = true
		this.errorAccessKey = ""

		try {
			this.$store.dispatch("setAccessKey", value)
		} catch (error) {
			this.errorAccessKey = error
		} finally {
			this.loadingAccessKey = false
		}
	}

	get groups() {
		return Object.values(
			this.$store.state.variables as { [key: string]: Variable },
		).reduce(
			(groups, variable) => [...new Set([...groups, variable.group])],
			[] as string[],
		)
	}

	get variablesByGroup() {
		return Object.values(
			this.$store.state.variables as { [key: string]: Variable },
		)
			.filter(variable => variable.group != undefined)
			.reduce(
				(variablesByGroup, variable) => ({
					...variablesByGroup,
					[variable.group]: [
						...(variablesByGroup[variable.group] || []),
						variable,
					],
				}),
				{} as { [group: string]: Variable[] },
			)
	}

	// Loading indicators
	public loadingAccessKey = false
	public loadingVariables = false
	public loadingRebooting = { services: false, host: false }

	// Error message
	public errorAccessKey = ""
	public errorVariables = ""
	public errorRebooting = ""

	get monitoringURL() {
		return `https://monitoring.${window.location.host}`
	}

	public mounted() {
		this.$store.dispatch("getAccessKey")
	}

	// Update the variables
	public async setVariables(name: string, value: string | boolean) {
		if (this.loadingVariables) {
			return
		}

		this.loadingVariables = true
		this.errorVariables = ""

		try {
			this.$store.dispatch("updateVariable", { name, value })
		} catch (error) {
			this.errorVariables = error
		} finally {
			this.loadingVariables = false
		}
	}

	public async reboot(type: "services" | "host") {
		if (this.loadingRebooting[type]) {
			return
		}

		this.loadingRebooting[type] = true
		this.errorRebooting = ""

		try {
			await apiClient.post(`restart/${type}`)
			let up = 0
			while (up < 2) {
				try {
					let response = await apiClient.get(`restart/${type}/state`)
					if (response.data.state === "free") {
						up++
					}
				} catch (e) {
				} finally {
					await sleep(10000)
				}
			}
		} catch (error) {
			this.errorRebooting = errorToString(error)
		} finally {
			this.loadingRebooting[type] = false
		}
	}
}
</script>

<style lang="less" scoped>
#advanced-settings-editor {
	padding: 25px 50px;
	@media screen and (max-width: 1000px) {
		padding: 15px;
	}

	.variable-input {
		margin: 5px 0;

		.ui-switch {
			justify-content: space-between;
		}
	}

	.block {
		box-shadow: 0px 4px 8px 0 rgba(0, 0, 0, 0.2);
		padding: 10px 15px;
		margin: 25px;
	}

	.reboot {
		display: flex;
		justify-content: center;

		button {
			margin: 10px 25px;
		}
	}
}
</style>
