<template>
	<div>
		<a
			:href="appLink"
			target="_blank"
			class="app-container"
			:class="app.name"
		>
			<div>
				<UiIconButton
					class="app-info-icon"
					icon="info_outline"
					type="secondary"
					@click="$refs['help-popup'].open($event)"
				>
				</UiIconButton>
				<UiTooltip position="right">{{
					$t("components.app_component.information")
				}}</UiTooltip>
			</div>
			<img
				class="app-icon"
				:src="app.icon"
				:alt="`${app.name} logo`"
				importance="high"
			/>
			<div class="app-description">
				{{
					$t(`components.app_component.app_descriptions['${app.id}']`)
				}}
			</div>
		</a>
		<HelpModal ref="help-popup" :name="app.name"></HelpModal>
	</div>
</template>

<script lang="ts">
import { Component, Vue, Prop } from "vue-property-decorator"
import UiTooltip from "keen-ui/src/UiTooltip.vue"
import UiIconButton from "keen-ui/src/UiIconButton.vue"

import { IApp } from "../../../lib/models"

import HelpModal from "./HelpModal.vue"

@Component({
	components: {
		UiTooltip,
		UiIconButton,
		HelpModal,
	},
})
export default class AppComponent extends Vue {
	@Prop({ type: Object, required: true }) public readonly app: IApp

	public get appLink() {
		return `https://${this.app.subdomain}.${location.host.replace(
			"home.",
			"",
		)}`
	}
}
</script>

<style lang="less" scoped>
.app-container {
	cursor: pointer;
	background: #fff;

	display: flex;
	flex-direction: column;
	justify-content: space-around;

	width: 250px;
	height: 250px;
	margin: 15px;
	padding: 15px;

	transition: box-shadow 250ms;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);

	// Override <a> style
	color: #2c3e50;
	text-decoration: none;

	position: relative;

	.app-info-icon {
		position: absolute;
		align-self: end;
		top: 5px;
		right: 5px;
		color: grey;
	}

	.app-icon {
		display: inline-block;
		width: 100%;
		height: 160px;
		object-fit: contain;
	}

	.app-description {
		text-align: center;
	}

	&:hover {
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
			0 6px 20px 0 rgba(0, 0, 0, 0.19);
	}
}
</style>
