<template>
	<div id="apps-container">
		<AppComponent
			v-for="app in apps"
			:key="app.name"
			:app="app"
		></AppComponent>

		<UiSnackbar
			id="load-app-error"
			v-if="errorMessage.length > 0"
			:message="errorMessage"
			action="retry"
			@action-click="loadApps"
		></UiSnackbar>
	</div>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator"
import UiSnackbar from "keen-ui/src/UiSnackbar.vue"

import { apiClient } from "../apiClient"

import { IApp } from "../../../lib/models"

import AppComponent from "./AppComponent.vue"

@Component({
	components: {
		UiSnackbar,
		AppComponent,
	},
})
export default class AppsList extends Vue {
	// Application list
	public apps: IApp[] = []

	// Error message and loading indicator
	public errorMessage = ""
	public loading = false

	public mounted() {
		this.loadApps()
	}

	public async loadApps() {
		this.errorMessage = ""
		this.loading = true

		try {
			// Get the app list
			const response = await apiClient.get("/apps")
			this.apps = response.data
		} catch (error) {
			this.errorMessage = error
		} finally {
			this.loading = false
		}
	}
}
</script>

<style lang="less" scoped>
#apps-container {
	margin-top: 100px;
	padding: 0 20%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	width: 100%;

	@media screen and (max-width: 1000px) {
		padding: 0;
	}

	@media screen and (max-width: 600px) {
		margin-top: 25px;
	}

	#home-alert {
		position: absolute;
		bottom: 15px;
		right: 15px;
	}
}
</style>
