<template>
	<form @submit.prevent="sendDomainName" id="domain-form">
		<UiTextbox
			name="domainname"
			type="text"
			icon="public"
			:help="$t('components.domain_name_form.inputs.domain.help')"
			:label="$t('components.domain_name_form.inputs.domain.title')"
			:floatingLabel="true"
			v-model="domainInfo.name"
			:maxlength="250"
			required
		></UiTextbox>

		<div class="provider-container">
			<div class="provider-select-container">
				<img
					:src="selectedProvider.favicon"
					width="25px"
					height="25px"
				/>
				<UiSelect
					name="provider"
					:help="
						$t('components.domain_name_form.inputs.provider.help')
					"
					:label="
						$t('components.domain_name_form.inputs.provider.title')
					"
					type="image"
					:keys="{ class: 'class', label: 'label', image: 'favicon' }"
					:options="providers"
					v-model="selectedProvider"
					class="provider-select"
				></UiSelect>
			</div>

			<form
				v-if="selectedProvider.value === 'flap'"
				@submit.prevent="requestTokens"
				class="provider-token-form"
			>
				<UiTextbox
					v-model="emailField"
					icon="email"
					:help="
						$t('components.domain_name_form.inputs.flap_token.help')
					"
					:label="
						$t(
							'components.domain_name_form.inputs.flap_token.title',
						)
					"
					:floatingLabel="true"
				></UiTextbox>
				<UiButton
					class="send-token-button"
					icon="arrow_forward"
					:disable="askedForEMail === emailField"
					:loading="tokensLoading"
					color="green"
				></UiButton>
			</form>

			<UiAlert
				v-if="errorTokensMessage.length > 0"
				type="error"
				:dismissible="false"
				>{{ errorTokensMessage }}</UiAlert
			>
			<UiAlert
				v-if="successTokensMessage.length > 0"
				type="success"
				@dismiss="successTokensMessage = ''"
				>{{ successTokensMessage }}</UiAlert
			>
		</div>

		<UiTextbox
			v-if="
				selectedProvider.authentication ===
					domainAuthenticationSchemes.UsernamePassword
			"
			name="username"
			type="text"
			icon="person"
			:help="$t('components.domain_name_form.inputs.username.help')"
			:label="$t('components.domain_name_form.inputs.username.title')"
			:floatingLabel="true"
			v-model="domainInfo.username"
			required
		></UiTextbox>

		<UiTextbox
			v-if="
				selectedProvider.authentication !==
					domainAuthenticationSchemes.None
			"
			name="token"
			type="password"
			icon="fingerprint"
			:help="$t('components.domain_name_form.inputs.token.help')"
			:label="$t('components.domain_name_form.inputs.token.title')"
			:floatingLabel="true"
			v-model="domainInfo.authentication"
			required
		></UiTextbox>

		<UiButton class="submit-button" :loading="loading" color="accent">
			{{ buttonLabel }}
		</UiButton>

		<UiAlert
			v-if="errorMessage.length > 0"
			type="error"
			:dismissible="false"
			>{{ errorMessage }}</UiAlert
		>
	</form>
</template>

<script lang="ts">
import { Component, Vue, Emit, Prop } from "vue-property-decorator"
import UiTextbox from "keen-ui/src/UiTextbox.vue"
import UiButton from "keen-ui/src/UiButton.vue"
import UiAlert from "keen-ui/src/UiAlert.vue"
import UiSelect from "keen-ui/src/UiSelect.vue"

import { LocaleMessages, LocaleMessageObject } from "vue-i18n"

import axios from "axios"
import { AxiosError } from "axios"

import { apiClient } from "../apiClient"
import {
	DomainNameInfo,
	DomainNameProviders,
	DomainNameProvidersInfo,
	DomainAuthenticationSchemes,
} from "../models"
import { isAxiosError, errorToString } from "../tools"

@Component({
	components: { UiTextbox, UiButton, UiAlert, UiSelect },
})
export default class DomainNameForm extends Vue {
	domainNameProviders = DomainNameProviders
	domainAuthenticationSchemes = DomainAuthenticationSchemes

	@Prop({ type: Object })
	public updatedDomain?: DomainNameInfo

	public domainInfo: DomainNameInfo = {
		name: "",
		status: "OK",
		provider: DomainNameProviders.FLAP,
		authentication: "",
		logs: "",
		dkim: {},
	}

	public selectedProvider: {
		value: DomainNameProviders
		favicon: string
		authentication: DomainAuthenticationSchemes
		label: LocaleMessageObject
	} = {} as any

	@Prop({ type: String })
	public buttonLabel: string

	@Prop({ type: String })
	public email?: string

	public emailField = ""
	public askedForEMail = ""

	public get blacklistedProviders() {
		let exception = ""
		if (this.updatedDomain !== undefined) {
			exception = this.updatedDomain.provider
		}
		return ["local", "localhost"].filter(
			blacklistedProvider => blacklistedProvider !== exception,
		)
	}
	public get providers() {
		return Object.values(DomainNameProvidersInfo)
			.map(provider => ({
				...provider,
				label: (this.$t(
					"components.domain_name_form.providers_labels",
				) as LocaleMessages)[provider.value as string],
			}))
			.filter(
				provider => !this.blacklistedProviders.includes(provider.value),
			)
	}

	// Loading indicator.
	public loading = false
	public tokensLoading = false

	// Error messages.
	public errorMessage = ""
	public errorTokensMessage = ""

	// Success messages.
	public successTokensMessage = ""

	// Life cycle.
	public mounted() {
		this.selectedProvider = this.providers.find(
			provider => provider.value == "flap",
		)

		if (this.email !== undefined) {
			this.emailField = this.email
		}

		if (this.updatedDomain !== undefined) {
			this.domainInfo = { ...this.updatedDomain }
			this.selectedProvider = this.providers.find(
				provider => provider.value == this.updatedDomain.provider,
			)
		}
	}

	public async requestTokens() {
		if (this.tokensLoading) {
			return
		}

		this.errorTokensMessage = ""
		this.tokensLoading = true

		try {
			// Send domain update.
			const response = await axios.get(
				`https://flap.id/tokens/${this.emailField}`,
			)

			this.askedForEMail = this.emailField
			this.successTokensMessage = response.data
		} catch (error) {
			console.log(error)
			// Display the error in the GUI.
			this.errorTokensMessage = this.$t(
				"components.domain_name_form.errors.fetching_token",
				{ error: errorToString(error) },
			) as string

			// Prevent resolving the promise and emitting the domainNameUpdated event.
			throw error
		} finally {
			this.tokensLoading = false
		}
	}

	// Create or Patch the domain
	@Emit("domainNameSent")
	public async sendDomainName(event: Event) {
		if (this.loading) {
			return
		}

		this.errorMessage = ""
		this.loading = true

		try {
			this.domainInfo.provider = this.selectedProvider.value

			let response

			// If updatedDomain is set, we are patching a domain else we are creating it
			if (this.updatedDomain != undefined) {
				response = await apiClient.patch(
					`/domains/${this.domainInfo.name}`,
					this.domainInfo,
				)
			} else {
				response = await apiClient.post("/domains", this.domainInfo)
			}

			// Reset the domainInfo object
			this.domainInfo = {
				name: "",
				status: "OK",
				provider: DomainNameProviders.FLAP,
				authentication: "",
				logs: "",
				dkim: {},
			}
			;(event.target as HTMLFormElement).reset()

			// Emit the fresh domain data.
			return response.data
		} catch (error) {
			// Display the error in the GUI
			if (isAxiosError(error) && error.response.status === 400) {
				this.errorTokensMessage = this.$t(
					"components.domain_name_form.errors.domain_edit_with_fields",
					{ fields: Object.keys(error.response.data).join(", ") },
				) as string
			} else {
				this.errorTokensMessage = this.$t(
					"components.domain_name_form.errors.domain_edit_with_error",
					{ error: errorToString(error) },
				) as string
			}

			// Prevent resolving the promise and emitting the domainNameUpdated event.
			throw error
		} finally {
			this.loading = false
		}
	}
}
</script>

<style lang="less" scoped>
#domain-form {
	display: flex;
	flex-direction: column;
	overflow: hidden;

	.ui-textbox,
	.ui-select {
		margin: 10px 0;
	}

	.ui-alert {
		margin-top: 15px;
	}

	.submit-button {
		margin-top: 30px;
		align-self: center;
	}

	.provider-container {
		display: flex;
		align-items: center;
		justify-content: space-between;
		flex-wrap: wrap;

		.provider-select-container {
			display: flex;
			align-items: center;
			margin-right: 50px;

			.ui-select {
				margin-left: 10px;
				min-width: 400px;
			}
		}

		.provider-token-form {
			flex-grow: 1;
			max-width: 550px;
			display: flex;
			align-items: center;

			.ui-textbox {
				flex-grow: 1;
			}
		}
	}
}
</style>
