<template>
	<div id="domains-editor">
		<table>
			<thead>
				<tr>
					<th>
						{{
							$t("components.domains_editor.table_headers.status")
						}}
					</th>
					<th>
						{{ $t("components.domains_editor.table_headers.nom") }}
					</th>
					<th>
						{{
							$t(
								"components.domains_editor.table_headers.fournisseur",
							)
						}}
					</th>
					<th>
						{{
							$t(
								"components.domains_editor.table_headers.actions",
							)
						}}
					</th>
				</tr>
			</thead>
			<tbody>
				<DomainComponent
					v-for="domain in domains"
					:key="domain.name"
					:domain="domain"
					:primaryDomain="primaryDomain"
					@setPrimary="setPrimary"
					@deleteDomain="deleteDomain"
				></DomainComponent>
			</tbody>
		</table>

		<UiButton
			class="create-domain-button"
			color="accent"
			icon="add"
			@click="$refs['domain-form-modal'].open()"
			>{{ $t("components.domains_editor.add_domain_button") }}</UiButton
		>

		<UiModal
			ref="domain-form-modal"
			size="large"
			:title="$t('components.domains_editor.edit_modal.title')"
		>
			<DomainNameForm
				@domainNameSent="domainCreatedCallback"
				:buttonLabel="$t('components.domains_editor.edit_modal.button')"
			></DomainNameForm>
		</UiModal>

		<UiConfirm
			ref="delete-domain-confirm"
			:title="$t('components.domains_editor.confirms.delete.title')"
			type="danger"
			@confirm="confirmDelete"
			:loading="deleteLoading"
			:closeOnConfirm="false"
		>
			{{ $t("components.domains_editor.confirms.delete.question") }}
		</UiConfirm>

		<UiAlert
			class="error-message"
			v-if="errorMessage.length > 0"
			type="error"
			:dismissible="false"
			>{{ errorMessage }}</UiAlert
		>
	</div>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator"
import UiAlert from "keen-ui/src/UiAlert.vue"
import UiButton from "keen-ui/src/UiButton.vue"
import UiModal from "keen-ui/src/UiModal.vue"
import UiConfirm from "keen-ui/src/UiConfirm.vue"

import DomainNameForm from "./DomainNameForm.vue"
import { apiClient } from "../apiClient"
import { DomainNameInfo } from "../models"
import DomainComponent from "./DomainComponent.vue"
import { errorToString } from "../tools"

@Component({
	components: {
		UiAlert,
		UiButton,
		UiModal,
		UiConfirm,
		DomainNameForm,
		DomainComponent,
	},
})
export default class DomainEditor extends Vue {
	// Data
	public domains: DomainNameInfo[] = []
	public primaryDomain: {
		loading: boolean
		domain?: DomainNameInfo
	} = { loading: true }

	// Fetch /domains and /domains/primary every 5 sec
	private domainsInterval = setInterval(this.refreshDomainData, 5000)

	// This will be replaced with a resolve function by the deleteUser method.
	public confirmDelete = () => {}

	// Loading indicators.
	public deleteLoading = false

	// Error messages.
	public errorMessage = ""

	// Life cycle
	public mounted() {
		this.refreshDomainData()
	}

	public destroyed() {
		clearInterval(this.domainsInterval)
	}

	// Getters
	private getRef(
		ref: string,
	): {
		open: () => {}
		close: () => {}
	} {
		return this.$refs[ref] as any
	}

	// Private Methods.
	private async refreshDomainData() {
		this.errorMessage = ""

		try {
			const [domainsResponse, primaryResponse] = await Promise.all([
				apiClient.get("/domains"),
				apiClient.get("/domains/primary"),
			])

			this.domains = domainsResponse.data
			this.primaryDomain = primaryResponse.data
		} catch (error) {
			this.errorMessage = this.$t(
				"components.domains_editor.errors.fetching_domains",
				{ error: errorToString(error) },
			) as string
		}
	}

	// Public Methods.
	public async domainCreatedCallback() {
		await this.refreshDomainData()
		this.getRef("domain-form-modal").close()
	}

	public async setPrimary(name: string) {
		this.errorMessage = ""

		try {
			const response = await apiClient.put("/domains/primary", { name })
			this.primaryDomain = response.data
		} catch (error) {
			this.errorMessage = this.$t(
				"components.domains_editor.errors.setting_primary",
				{ error: errorToString(error) },
			) as string
		}
	}

	public async deleteDomain(name: string) {
		await new Promise((resolve, reject) => {
			this.confirmDelete = resolve
			this.getRef("delete-domain-confirm").open()
		})

		this.errorMessage = ""
		this.deleteLoading = true

		try {
			await apiClient.delete(`/domains/${name}`)
			await this.refreshDomainData()
		} catch (error) {
			this.errorMessage = this.$t(
				"components.domains_editor.errors.deleting",
				{ error: errorToString(error) },
			) as string
		} finally {
			this.deleteLoading = false
			Vue.nextTick(() => this.getRef("delete-domain-confirm").close())
		}
	}
}
</script>

<style lang="less" scoped>
#domains-editor {
	display: flex;
	flex-direction: column;
	padding: 25px 50px;
	@media screen and (max-width: 1000px) {
		padding: 15px;
	}

	table {
		margin-bottom: 50px;

		th {
			text-align: left;
			border-bottom: 2px solid #ddd;
		}

		width: 100%;
	}

	.error-message {
		margin-top: 30px;
	}

	.create-domain-button {
		align-self: end;
	}
}
</style>
