<template>
	<form
		class="mobile-config-downloader"
		target="_blank"
		:action="mobileConfigURL"
		method="post"
	>
		<UiTextbox
			name="password"
			type="password"
			:label="
				$t('components.mobile_config_download.inputs.password.title')
			"
			:floatingLabel="true"
			:required="true"
			:maxlength="256"
			autocomplete="current-password"
			v-model="password"
		></UiTextbox>

		<UiButton :raised="true" color="accent" icon="cloud_download">{{
			$t("components.mobile_config_download.download_button")
		}}</UiButton>
	</form>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator"
import UiTextbox from "keen-ui/src/UiTextbox.vue"
import UiButton from "keen-ui/src/UiButton.vue"

@Component({
	components: { UiTextbox, UiButton },
})
export default class MobileConfigDownload extends Vue {
	// Constants.
	public readonly mobileConfigURL = `https://${location.host}/api/mobileconfig`

	// Data.
	public password = ""
}
</script>

<style lang="less" scoped>
.mobile-config-downloader {
	display: flex;
	flex-direction: column;
	overflow: hidden;
	padding: 0 15px;

	.ui-button {
		margin-top: 30px;
		align-self: center;
	}
}
</style>
