<template>
	<form id="profile-form" @submit="updateProfile" v-if="profile !== null">
		<UiTextbox
			name="fullname"
			type="text"
			icon="format_quote"
			:label="$t('components.profile_form.inputs.displayname.title')"
			:help="$t('components.profile_form.inputs.displayname.help')"
			:floatingLabel="true"
			v-model="newProfile.fullname"
			autofocus
			required
			:maxlength="64"
		></UiTextbox>

		<UiTextbox
			name="email"
			type="email"
			autocomplete="email"
			icon="mail"
			:label="$t('components.profile_form.inputs.email.title')"
			:help="$t('components.profile_form.inputs.email.help')"
			:floatingLabel="true"
			v-model="newProfile.email"
			required
			:maxlength="256"
		></UiTextbox>

		<UiButton
			class="submit-button"
			:loading="updateLoading"
			:raised="true"
			color="accent"
			>{{ $t("components.profile_form.buttons.update") }}</UiButton
		>

		<UiAlert
			v-if="errorMessage.length > 0"
			type="error"
			:dismissible="false"
			id="me-form-alert"
			>{{ errorMessage }}</UiAlert
		>
	</form>
</template>

<script lang="ts">
import { Component, Vue, Emit } from "vue-property-decorator"
import UiTextbox from "keen-ui/src/UiTextbox.vue"
import UiButton from "keen-ui/src/UiButton.vue"
import UiAlert from "keen-ui/src/UiAlert.vue"

import { apiClient } from "../apiClient"
import { IUser } from "../models"
import { AxiosError } from "axios"
import { errorToString, isAxiosError } from "../tools"

@Component({
	components: { UiTextbox, UiButton, UiAlert },
})
export default class ProfileForm extends Vue {
	// Data.
	public profile: IUser = null
	public newProfile: IUser = null

	// Loading indicators.
	public profileLoading = false
	public updateLoading = false

	// Error messages.
	public errorMessage = ""

	// Life cycle.
	public async mounted() {
		await this.getUserProfile()
	}

	// Private methods.
	private async getUserProfile() {
		this.profileLoading = true

		try {
			const response = await apiClient.get("/me")
			this.profile = response.data
			this.newProfile = { ...response.data }
		} catch (error) {
			this.errorMessage = this.$t(
				"components.profile_form.errors.loading_profile",
				{ error: errorToString(error) },
			) as string
		} finally {
			this.profileLoading = false
		}
	}

	// Public methods.
	@Emit("profileUpdated")
	public async updateProfile(event: Event) {
		event.preventDefault()

		if (
			this.newProfile.fullname === this.profile.fullname &&
			this.newProfile.email === this.profile.email
		) {
			return
		}

		this.errorMessage = ""
		this.updateLoading = true

		try {
			const response = await apiClient.patch(
				`/users/${this.profile.username}`,
				this.newProfile,
			)
			this.profile = response.data
			this.$store.commit("setUser", response.data)
		} catch (error) {
			// Display the error in the GUI
			if (isAxiosError(error) && error.response.status === 400) {
				this.errorMessage = this.$t(
					"components.profile_form.errors.updating_with_fields",
					{ fields: Object.keys(error.response.data).join(", ") },
				) as string
			} else {
				this.errorMessage = this.$t(
					"components.profile_form.errors.updating_with_error",
					{ error: errorToString(error) },
				) as string
			}

			// Prevent resolving the promise and emitting the profileUpdated event.
			throw error
		} finally {
			this.updateLoading = false
		}
	}
}
</script>

<style lang="less" scoped>
#profile-form {
	display: flex;
	flex-direction: column;
	overflow: hidden;
	padding: 0 15px;

	#me-form-alert {
		margin-top: 15px;
	}

	.submit-button {
		margin-top: 30px;
		align-self: center;
	}
}
</style>
