<template>
	<div id="profile-editor" v-if="$store.state.user !== null">
		<div class="information-container">
			<table v-if="$store.state.user !== null">
				<tr>
					<td>
						<UiIcon icon="format_quote"></UiIcon>
					</td>
					<td>
						{{
							$t(
								"components.profile_editor.table_headers.displayname",
							)
						}}
					</td>
					<td>
						<code>{{ $store.state.user.fullname }}</code>
					</td>
				</tr>
				<tr>
					<td>
						<UiIcon icon="mail"></UiIcon>
					</td>
					<td>
						{{
							$t("components.profile_editor.table_headers.email")
						}}
					</td>
					<td>
						<code>{{ $store.state.user.email }}</code>
					</td>
				</tr>
				<tr>
					<td>
						<UiIcon icon="perm_identity"></UiIcon>
					</td>
					<td>
						{{
							$t(
								"components.profile_editor.table_headers.username",
							)
						}}
					</td>
					<td>
						<code>{{ $store.state.user.username }}</code>
					</td>
				</tr>
				<tr v-if="$store.state.user.admin">
					<td>
						<UiIcon
							class="icon-orange"
							icon="supervised_user_circle"
						></UiIcon>
					</td>
					<td colspan="2">
						<code>{{
							$t("components.profile_editor.table_headers.admin")
						}}</code>
					</td>
				</tr>
			</table>

			<div class="buttons-container">
				<UiButton
					class="update-profile-button"
					color="accent"
					icon="edit"
					@click="$refs['profile-form-modal'].open()"
					>{{
						$t("components.profile_editor.buttons.update_my_info")
					}}</UiButton
				>

				<UiButton
					class="update-password-button"
					color="accent"
					icon="fingerprint"
					@click="$refs['password-form-modal'].open()"
					>{{
						$t(
							"components.profile_editor.buttons.update_my_password",
						)
					}}</UiButton
				>

				<UiButton
					color="accent"
					icon="cloud_download"
					@click="$refs['ios-mobileconfig-form-modal'].open()"
					>{{
						$t("components.profile_editor.buttons.download_profile")
					}}</UiButton
				>
			</div>
		</div>

		<UiModal
			ref="profile-form-modal"
			size="large"
			:title="$t('components.profile_editor.modal_titles.update_my_info')"
		>
			<ProfileForm @profileUpdated="profileUpdatedCallback"></ProfileForm>
		</UiModal>

		<UiModal
			ref="password-form-modal"
			size="large"
			:title="
				$t('components.profile_editor.modal_titles.update_my_password')
			"
		>
			<PasswordForm
				:username="$store.state.user.username"
				@passwordUpdated="passwordUpdatedCallback"
			></PasswordForm>
		</UiModal>

		<UiModal
			ref="ios-mobileconfig-form-modal"
			:title="
				$t('components.profile_editor.modal_titles.download_profile')
			"
		>
			<MobileConfigDownload></MobileConfigDownload>
		</UiModal>

		<UiAlert
			class="error-message"
			v-if="errorMessage.length > 0"
			type="error"
			:dismissible="false"
			>{{ errorMessage }}</UiAlert
		>
	</div>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator"
import { AxiosError } from "axios"
import UiButton from "keen-ui/src/UiButton.vue"
import UiAlert from "keen-ui/src/UiAlert.vue"
import UiModal from "keen-ui/src/UiModal.vue"
import UiIcon from "keen-ui/src/UiIcon.vue"

import { apiClient } from "../apiClient"
import { IUser } from "../models"
import ProfileForm from "./ProfileForm.vue"
import PasswordForm from "./PasswordForm.vue"
import { errorToString } from "../tools"
import MobileConfigDownload from "./MobileConfigDownload.vue"

@Component({
	components: {
		UiButton,
		UiAlert,
		UiModal,
		UiIcon,
		ProfileForm,
		PasswordForm,
		MobileConfigDownload,
	},
})
export default class ProfileEditor extends Vue {
	// Loading indicators.
	public profileLoading = false

	// Error messages.
	public errorMessage = ""

	// Getters
	private getRef(
		ref: string,
	): {
		open: () => {}
		close: () => {}
	} {
		return this.$refs[ref] as any
	}

	// Public methods.
	public async profileUpdatedCallback() {
		this.getRef("profile-form-modal").close()
	}

	public async passwordUpdatedCallback() {
		this.getRef("password-form-modal").close()
	}
}
</script>

<style lang="less" scoped>
#profile-editor {
	padding: 25px 50px;
	@media screen and (max-width: 1000px) {
		padding: 15px;
	}

	.information-container {
		display: flex;
		justify-content: space-between;

		table {
			flex-grow: 1;

			.ui-icon {
				margin-right: 10px;
			}

			td {
				height: 35px;
				padding-right: 15px;

				.ui-icon {
					color: rgba(0, 0, 0, 0.54);

					&.icon-orange {
						color: #ff9800;
					}
				}
			}
		}

		.buttons-container {
			display: flex;
			flex-direction: column;
			justify-content: space-evenly;
		}
	}
}
</style>
